<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Alert</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" (click)="presentAlert()">alert1</ion-button>
  <ion-button expand="block" (click)="presentAlertMultipleButtons()">alert2</ion-button>
  <ion-button expand="block" (click)="presentAlertConfirm()">alert3</ion-button>
  <ion-button expand="block" (click)="presentAlertPrompt()">alert4</ion-button>
  <ion-button expand="block" (click)="presentAlertRadio()">alert5</ion-button>
  <ion-button expand="block" (click)="presentAlertCheckbox()">alert6</ion-button>
</ion-content>
